<!DOCTYPE html>
<html>
  <head>
    <title>MatchPrize Fantasy Football</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//code.angularjs.org/1.2.13/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
    <script src="/javascripts/matchPrizeWebApp.js"></script>
    <style> .glyphicon-thumbs-up {
        cursor: pointer
      } </style>
    <base href="/">
  </head>
  <body ng-app="matchPrize">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <nav class="navbar navbar-default pull-right">
          <ul class="nav navbar-nav">
            <li><a href="/#/home">Home</a></li>
            <li><a href="#/fixtures">Fixtures</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>

      <!-- Home -->
      <script type="text/ng-template" id="/home.html">
        <h1>MatchPrize Fantasy Football <%= environment %>
        </h1>
        <p>Welcome to MatchPrize Fantasy Football</p>
      </script>

      <!-- fixtures -->
      <script type="text/ng-template" id="/fixtures.html">
        <div class="page-header">
          <h1>Fixtures</h1>
        </div>
        <div ng-repeat="fixture in fixtures | orderBy: '_id'">
          {{fixture._id}}

          <div ng-repeat="fixtureDetail in fixture.fixtureDetails | orderBy: 'matchDate'">
            {{fixtureDetail.matchDate}} | {{fixtureDetail.matchTime}}
          </div>

        </div>
      </script>
    </div>
  </body>
</html>
